.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* 이미지와 텍스트 사이의 간격을 조정 */
    margin-top: 50px; /* 상단 여백 조정 */
    width: 100vw;
    height: 100vh;
  }
  
  .main-image {
    width: 45vw; /* 이미지 크기 조정 */
    height: auto;
  }
  