.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;

  &:hover {
      background-color: #ff1a1a; /* 호버 시 색상 변경 */
  }

  &:disabled {
      background-color: #ccc; /* 비활성화 상태 */
      cursor: not-allowed;
  }
}
