.edit-post {
  margin: 20px;
}

.loading,
.error {
  color: red;
  text-align: center;
  font-size: 1.2em;
}

.edit-post-form {
  display: flex;
  flex-direction: column;
}

.input-field,
.textarea-field {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff; /* 파란색 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3; /* 더 어두운 파란색 */
}
