.post-manager {
  margin: 20px;
}

.manager-button {
  padding: 10px 15px;
  background-color: #007bff; /* 파란색 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.manager-button:hover {
  background-color: #0056b3; /* 더 어두운 파란색 */
}

.loading,
.error {
  color: red;
  text-align: center;
  font-size: 1.2em;
}
